---
import Layout from "../layouts/Layout.astro";
import Entrance from "../components/Entrance.astro";
---

<Layout title="สิ่งsakสิด❓">
  <main>
    <div class="min-h-screen w-full bg-red-500">
      <Entrance />
    </div>
  </main>
</Layout>
