---
import Header from "./Header.astro";
---

<div class="w-full h-screen">
  <img src="/entrance.jpg" class="absolute h-screen w-full" />
  <div class="absolute w-full h-full">
    <div class="w-full h-full flex justify-center items-center">
      <button class="p-3 bg-red-300 rounded-lg hover:bg-red-400">
        <a href="/khagnaisarn">
          <h1 class="text-2xl">เข้า Sarnเจ้า❓</h1>
        </a>
      </button>
    </div>
  </div>
</div>
