---
import GodCard from "./GodCard.astro";

const allLink = [
  "https://skillissue.gay",
  "https://twitter.com/LeomotorsTH/status/1664910625389047813",
  "https://youtu.be/dQw4w9WgXcQ",
];

const whatIsThisLink = allLink[Math.floor(allLink.length * Math.random())];
---

<div>
  <div
    class="w-full h-screen hidden sm:flex sm:flex-col justify-center items-center bg-yellow-300">
    <h1 class="text-4xl font-bold mb-10">เลือกเทพของ YOU 😍</h1>
    <div class="flex flex-row gap-10">
      <GodCard image="god/jesus.png" name="Jesus" />
      <GodCard image="god/Kwanyin.jpg" name="Kwanyin" />
      <GodCard image="god/phrom.jpg" name="Phrom" />
      <GodCard image="god/shiva.jpg" name="Shiva" />
      <div class="p-3 shadow-md rounded-xl bg-red-300">
        <a href={whatIsThisLink}>
          <img
            src="/sarnjao/god/lnw.jpg"
            style={{
              height: "30vh",
            }}
          /></a
        >
        <h1 class="text-2xl font-semibold text-center">ลีโอมอเตอร์ส❓</h1>
      </div>
    </div>
  </div>
</div>
