---
import GodCard from "./GodCard.astro"
---

<div>
    <div
        class="w-full h-screen hidden sm:flex sm:flex-col justify-center items-center">
        <div class="flex flex-row gap-10">
            <GodCard image="/god/jesus.png" name="jesus" />
            <GodCard image="/god/Kwanyin.jpg" name="Kwanyin" />
            <GodCard image="/god/phrom.jpg" name="phrom" />
            <GodCard image="/god/shiva.jpg" name="shiva" />
        </div>
    </div>
</div>
