---
import Layout from "../../layouts/Layout.astro";
import { SarnJaoTRUE } from "../../components/SarnJaoTRUE";
---

<Layout title="ข้างในศาล TRUEEEEEEEEEEEEE">
  <main>
    <SarnJaoTRUE />
  </main>
</Layout>
